<!DOCTYPE html>
<html lang="en">
<style>
.container {
  margin: 0;
  padding: 5px;
  background-color: White;
}

#social-media-NB {
float: center;
}
#social-media-NB img {
width: 30px;
position: relative;
top: -6px;
}
li {
display: block;
}

footer {
  text-align: center;
  padding: 2px;
  color: DarkSalmon;
}
</style>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<title>Comment Classifier</title>
</head>

<body>

<div class="container">
  <div class="row justify-content-md-center" >
    <div class="col col-lg-8 mt-5">
     <form method="POST"> 
	  <div class="form-group">
	  	<h3>Toxic Comment Classifier</h3>
   		<textarea class="form-control" placeholder="Type comment here..." name="u" id="exampleFormControlTextarea1" rows="6"></textarea>
	    <small id="emailHelp" class="form-text text-muted">This is just a fun application to check how ferocious your comments are...</small>
	  </div>
	 
	  <div style="text-align: right"><button type="submit" class="btn btn-warning">Predict</button></div>
	</form>
	</div></div>
    </div>

  </div>

<footer>
  <p>Created by: Navjot Kaur Bians<br>
<!--   <a href="https://www.linkedin.com/in/navjotkaurbians/">Contact</a> -->
  <div id='social-media-NB'>
<!--Facebook-->
<a href='https://www.linkedin.com/in/navjotkaurbians/' target='_blank' rel="nofollow"><img src='http://3.bp.blogspot.com/-Y85v9faYIvY/VREK4znV74I/AAAAAAAAFQY/uA7CQhQfuvA/s1600/Linkedin+square.png'/></a>
</div>
<!--   <a href="mailto:navjot.bians@gmail.com">navjot.bians@gmail.com</a></p> -->

</footer>

</body>
</html>